{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Game 1 Instructions
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString();
        }
    </script>
{% endblock %}

{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}

    <!DOCTYPE html>
    <html>
        <body>
            <input type="hidden" name="time_Instructions1" id="arrive_time"/>
            <p>
                {% if firm == 'A' %}
                    You are playing in Firm A. You will see the baseline scores for the 2 randomly chosen players in your group.
                {% else %}
                    You are playing in Firm B. You will not see the baseline scores for the 2 randomly chosen players in your group.
                {% endif %}
                <br><br>
                Your firm: {{ firm }}.
                <br>
                Your baseline score: {{ baseline }}.
                <br>
                {% if firm == 'A' %}
                    Opponent 1's baseline score: {{ opponent1 }}.
                    <br>
                    Opponent 2's baseline score: {{ opponent2 }}.
                {% endif %}
                <br><br>
                Good luck!
            </p>
        </body>
    </html>

    {% next_button %}
{% endblock %}


