{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    General Instructions
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString();
        }
    </script>
{% endblock %}

{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    
    <!DOCTYPE html>
    <html>
        <body>
            <input type="hidden" name="time_Instructions" id="arrive_time"/>
            <p>
                Please read these intructions carefully, as your earnings will depend on understanding them. The study involves three parts. In each part, you will have to chance to earn an additional bonus based on your performance. The study involves several participants who are working on the same tasks at the same time. Therefore, after the completion of each part, you may be asked to wait until other participants reach the end of that part. Please do not scroll away from the screen or step away from the computer. The waiting times will not be long. To ensure short wait times for everyone, if you are inactive for more than 2 minutes, the program will determine that you have left, and automatically end your session. Therefore, it is important to be attentive to the study at all times.
                <br><br>
                You can quit the study at any time. If you choose to quit the study before it’s over, you will only earn the bonus you have accumulated thus far.
                <br><br>
                Please click next to confirm you have understood this information, and to read detailed instructions about the first part of the study. 

            </p>
        </body>
    </html>

    {% next_button %}
{% endblock %}


