{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Baseline Instructions
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString();
        }
    </script>
{% endblock %}

{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    
    <!DOCTYPE html>
    <html>
        <body>
            <input type="hidden" name="time_Instructions" id="arrive_time"/>
            <p>
                In the baseline task, you will answer as many arithmetic problems as possible in two minutes.
                Each arithmetic problem requires you to add three numbers.
                <br><br>
                Example: Three plus four plus seven
                <br><br>
                You may submit your answer using the submit button, not the enter key.
                <br><br>
                Good luck!
            </p>
        </body>
    </html>

    {% next_button %}
{% endblock %}


