{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Baseline Results
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString();
        }
    </script>
{% endblock %}

{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}

    <!DOCTYPE html>
    <html>
        <body>
            <input type="hidden" name="time_ResultsBL" id="arrive_time"/>
            <p>
                Thank you for your effort! Two minutes has elapsed.
                <br><br>
                You attempted {{ attempted }} questions and answered {{ correct }} of them correctly.
                <br><br>
                Therefore, your bonus payment from Part 1 is {{ payment }} .
            </p>
        </body>
    </html>

    {% next_button %}
{% endblock %}


