{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Game 2 Results
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString();
        }
    </script>
{% endblock %}

{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}

    <!DOCTYPE html>
    <html>
        <body>
            <input type="hidden" name="time_Results2" id="arrive_time"/>
            <p>
                You attempted {{ attempted }} {{ problems }} and got {{ correct }} correct.
                <br><br>
                Your score is {{ correct }}.
            </p>
        </body>
    </html>

    {% next_button %}
{% endblock %}


