{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString()
        }

    </script>
{% endblock %}

{% block styles %}
    <style>
        .slider
        {
            -webkit-appearance: none;
            width: 50%;
            outline: none;
            background: lightgray;
            height: 7px;
            border-radius: 5px;
        }
        .slider-val
        {
            border-style: solid;
            border-width: 1px;
            border-color: #419bf9;
            border-radius: 4px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block title %}
    Survey
{% endblock %}

{% block content %}
    How well did you do compared to how you expected to do on this task?
    <input type="hidden" name="time_Survey1" id="arrive_time"/>
    <br><br>
    <input class="slider" name="q1" type="range" min="0" max="10" value="5"/>

    <br>
    <div class="row">
        <div class="col-2">
                Much lower than I expected
        </div>
        <div class="col-2">
            What I expected
        </div>
        <div class="col-2" style="text-align: right">
            Much higher than I expected
        </div>
    </div>
    <br>
    <br>

    {% next_button %}

{% endblock %}

